$pureWhite:  #ffffff;
$pureBlack: black;
//$lightGrey: #CCCCCC;
$lightGrey: rgb(240, 240, 240);
$primeGreen:#72b842;
$aquaBlue: rgb(0, 110, 184);
$lightBlue: #0099FF;
$lightGreen: #33CC33;
$darkGreen:#4c7a2d;
$blackGreen:hsl(97, 56%, 55%);
$textGrey: #858585;
$darkGrey: #535353;
$borderGrey: #d6d6d6;
